body, html {
  height: 100%;
  scroll-behavior: smooth;
  background-color: black;
}

.bg {
  background-image: url("hero.png");
  height: 100%;
  opacity: 0.3;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar-nav {
 background-color: black;
}

h1 {
  font-size: 71px;
  color: whitesmoke
}

.header {
  color: white;
  text-align: center;
  font-family: arial;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#resume {
  color: white;
  margin-top: 3em;
}


#projects {
 color: white;
 padding-top: 30px;
}

#contact {
  color: white;
  padding-top: 75px;
}
.nav-item {
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  letter-spacing: 2px;
  color: white;
}

a:hover {
  /* color:lightblue; */
  color: orangered;
}

.active {
  color: orangered;
}

.hero {
  opacity: 0.3;
  max-width: 100%;
}

.links {
  color: white;
}

#gitHome {

margin-right: 5px;
}

#linkedHome {

  margin-left: 5px; 
}
.projectLinks {
  color: lightblue;
}

#pdf {
margin-left: 40px;
}

#linkedIn {
margin-left: 15px;
}

#gitHub {
margin-left: 15px;
}

.summary {
  text-align: center;
  margin-bottom: 50px;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
}

.edu-width {
  width: 80%;
}

.technical {
  text-align: center;
  /* margin-left: 50px; */
  }

.text-box {
  /* margin-left: 40px; */
  margin-top: 25px;

  /* text-align: center; */
}
.experience {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.education {
  text-align: center;
/* margin-right: 100px; */

}
.portfolio-pic {
/* margin-right: 10px; */
width: 100%;
}
#tbPic {
  margin-right: 10px;
}
#musicPic{
  margin-bottom: 50px;
}
.title{
  margin-bottom: 20px;
  margin-top: 40px;
}
.special {
  text-align: center;
}
.role {
  color: white;
}

.tools {

}
#align {
padding-left: 12%;
padding-right: 12%;
font-size: 14px;
text-align: right;
color: rgb(168, 166, 166);
hanging-punctuation: last;
} 

.dropdown {
  background-color: black;
}

#resume {
  padding-top: 60px;
}

#projects {
  margin-top: 75px;
}

#contact {
  margin-top: 75px;
}

h3 {
  color: rgb(168, 166, 166);
}
5
@media all and (min-width: 768px) and (max-width:1024px) {
  #align {
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 2em;
  }
  h1 {
    font-size: 5em;
    white-space: pre;
  }

}

@media all and (max-width:768px) {
  #align {
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
  }
  h1 {
    font-size: 2em;
    white-space: pre;
  }

}
